/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body{
  background: rgb(109,208,248);
  background: linear-gradient(90deg, rgba(109,208,248,1) 11%, rgba(180,176,248,1) 60%, rgba(118,211,235,1) 86%, rgba(126,200,215,1) 100%);
}
.ht-container{
  height: 250px;
}
.ht2-container{
  height: 160px;
}
.app-bg{
  background: linear-gradient(0deg, rgba(0,0,0, 0.2),rgba(0,0,0, 0.3)), url(./components/bakground_weather.jpg);
  height: 160px;
  background-size: cover;
  background-repeat: no-repeat;
}
.side-bg {
  background-color: rgba(0, 0, 0, 0.7);
}
.py-5 {
  background-color: #282c34;
}
 .margin-content{
 align-items: center;
 }
 .fs-6{
   font-size: 14px!important;
 }
 .mt-10{
   margin-top: 10px;
 }
